# **Fantasy Team Exercise: R Documentation**
> Authors: Maria Sanchez Linares, Srimann Ramachandruni

In [ ]:
#This is a codechunk, which is where you should write all of your code for it to run
library(tidyverse)
library(dplyr)

**Variables**

In [ ]:
#Variables are used to store data values in memory, see example below
x = 2 + 2
print(x) #the print() statement outputs the value stored in the "x" variable

[1] 4

**R sintax to perfom mathematical calculations**

In [ ]:
#Addition
2 + 2

#Subtraction
4 - 2

#Multiplication
4 * 4

#Division
16 / 4

#Example
(2+2) * 4

[1] 4

[1] 2

[1] 16

[1] 4

[1] 16

**R commands to calculate statistical summaries**

In [ ]:
#Mean
v1 <- c(3,3,3) #this line creates a vector stored under the variable same "v1"
mean(v1)

#Median
v2 <- c(1, 2, 3, 4, 5, 6, 7)
median(v2)

#Standard Deviation
v3 <- c(2, 4, 6, 8, 10, 12, 14, 16)
sd(v3)

#Mode
#There is no R built in command to calculate the mode, use the function provided below
# Create the function named "mode"
mode <- function(v) {
   uniqv <- unique(v)
   uniqv[which.max(tabulate(match(v, uniqv)))]}

v4 <- c(1, 2, 3, 4, 4, 4, 5, 6)
result <- mode(v4) #this line stores the value of 'mode(v3)' in the variable 'result'
print(result)

[1] 3

[1] 4

[1] 4.898979

[1] 4

**R Basics: Explore the dataset**

In [ ]:
#This code is creating a dataframe
players <- tibble( player = c("Bam Adebayo", "Ochai Agbaji", "Grayson Allen", "Jarrett Allen", "Jose Alvarado", "Kyle Anderson",
"Cole Anthony", "Marvin Bagley III", "Amari Bailey"),
team = c("MIA", "UTA", "MIL", "CLE", "NOP", "MIN", "ORL", "DET", "CHA"), number = c(13, 30, 12, 31, 15, 5, 50, 35, 2))

In [ ]:
#View function: opens spreadsheet viewer of dataset
View(players)

  player            team number
1 Bam Adebayo       MIA  13
2 Ochai Agbaji      UTA  30
3 Grayson Allen     MIL  12
4 Jarrett Allen     CLE  31
5 Jose Alvarado     NOP  15
6 Kyle Anderson     MIN   5
7 Cole Anthony      ORL  50
8 Marvin Bagley III DET  35
9 Amari Bailey      CHA   2

In [ ]:
#head function: Prints the first 6 rows of a dataset
head(players)

  player        team number
1 Bam Adebayo   MIA  13
2 Ochai Agbaji  UTA  30
3 Grayson Allen MIL  12
4 Jarrett Allen CLE  31
5 Jose Alvarado NOP  15
6 Kyle Anderson MIN   5

In [ ]:
#dim function: Prints the dimensions (number of rows and columns) of a dataset
dim(players)

#names function: Prints the names of the variables in a dataset
names(players)

#unique function: Prints the values of a specific variable
unique(players$team) #(dataset$variable)

[1] 9 3

[1] "player" "team"   "number"

[1] "MIA" "UTA" "MIL" "CLE" "NOP" "MIN" "ORL" "DET" "CHA"

1